@font-face {
  font-family: "iconfont"; /* Project id 4816063 */
  src: url('https://at.alicdn.com/t/c/font_4816063_ykuuz5friu.ttf?t=1740381486501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e86f";
}

.icon-info-circle:before {
  content: "\e77e";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-info-circle-fill:before {
  content: "\e844";
}

.icon-paixu:before {
  content: "\e7e9";
}

.icon-shop:before {
  content: "\e676";
}

.icon-shopfill:before {
  content: "\e697";
}

.icon-deletefill:before {
  content: "\e6a6";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-roundaddfill:before {
  content: "\e6d8";
}

.icon-roundadd:before {
  content: "\e6d9";
}

.icon-versus:before {
  content: "\e606";
}

.icon-filter1:before {
  content: "\e69c";
}
