$theme-color:#99DE9F;
$theme-color1:#99DE9F;
$theme-color2:#4A90E2;
$theme-color3:#8FAADC;
$theme-color4:#81C784;
$theme-color5:#26C6DA;
$theme-color6:#6352CA;
$theme-color7:#016DF7;
$theme-color7:#3970FF;
$theme-font-color:#000;

$background-color:#f4f4f4;